*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.sty
Glossary.csv 
ZE.*.*
ak 
ak.*
macros.txt
newIdentities.*
newIdentitiesTest.*
test.*
x.log
mathematica_to_latex_ section.py
mathematica_to_latex_4.py
